.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  display: flex;
  justify-content: start;
  align-items: center;
}
.countries--second {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.countries--third {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}
